<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Easy Workflow</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#authors">Workflows</a>
        </li>
        <li>
          <a href="#books">Steps</a>
        </li>
        <li>
          <a href="#books">Actions</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="starter-template">
    <h1>{{title}}</h1>
  </div>
</div>
